PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/portfolio-cms
JWT_ACCESS_SECRET=your_short_lived_access_token_secret_min_32_chars_long
JWT_REFRESH_SECRET=your_long_lived_refresh_token_secret_min_32_chars_long
JWT_2FA_PENDING_SECRET=your_temporary_2fa_pending_secret_key_32_chars
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
ADMIN_FRONTEND_ORIGIN=http://localhost:3001
NODE_ENV=development

# SMTP Email Configuration
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=yvonne.thompson20@ethereal.email
SMTP_PASS=XZeyqy8ZpsAAjgC2zX
SMTP_SECURE=STARTTLS
CONTACT_RECEIVER_EMAIL=yatinkashyap1252@gmail.com

